/* body {
  background-color: #ff6700;
} */

/* .Navbar {
  z-index: 999;
  color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
} */

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}
